<div class="mypage">
  <%# <%= link_to "ログアウト", destroy_user_session_path, class:'header--post', method: :delete %> 
  <div class="mypage__left">
  </div>
  <div class="mypage__rigth">
    <div class="mypage__rigth__top">
      <div class="mypage__rigth__top--icon">
        
      </div>
      <div class="mypage__rigth__top--name">
        <span><%= current_user.nickname%></span>
      </div>
    </div>
    <div class="mypage__rigth__link">
    </div>
  </div>
</div>
