<div class="mypage">
  <%# <%= link_to "ログアウト", destroy_user_session_path, class:'header--post', method: :delete %> 
  <div class="mypage__left">
  </div>
  <div class="mypage__rigth">
  </div>
</div>
