.follow-user {
  margin-left: 40px;
  // padding-bottom: 40px;
  font-size: 40px;
  text-decoration: none;
  color: black;
  &:hover {
    color: #f33333;
  }
}
.follow-icon {
  // margin-top: 10px;
}
