.contents-title {
  height: 50px;
  // width: 100%;
  background-color:#f0ebe7;
  font-size: 25px;
  font-weight: bold;
  padding-top: 10px;
}
.container {
  width: 70%;
  height: 100vh;
  margin: 0 auto;
  // background-color: cyan;
  padding-top: 20px;
  display: flex;
  &__left {
    // position: relative;
    // background-color: darkgray;
    width: 300px;
    height: 100％;
  }
  &__right {
    // position: relative;
    background-color: gray;
    width: 500px;
    position: relative;
  }
}

.posts-title {
  font-weight: 700;
  font-size: 1.5rem;
}
.required {
  color: red;
  font-weight: 300;
  margin: 10px 0;
}
.show-text {
  font-size: 0.8rem;
  font-weight:300;
}

.category-box {
padding-top: 250px;
}
.comment-box {
  padding-top: 100px;
}

.image-box {
  height: 300px;
  width: 300px;
  background-color: salmon;
  border: dotted;
}