.row {
  margin: 0 auto;
  text-align: center;
}
body,html {
  height: 100%;
  background-color: whitesmoke;
}
body {
  padding-top: 100px;
}
.contetns {
  width: 100%;
}
.main-contents {
  width: 70%;
  // background-color: gray;
  height: 100vh;
  margin: 0 auto;
}
.post-image {
  height: 300px;
  width: 300px;
}

