.row {
  margin: 0 auto;
  text-align: center;
}
body,html {
  height: 100%;
  background-color: whitesmoke;
}
body {
  padding-top: 100px;
}
.contetns {
  width: 100%;
}
.main-contents {
  width: 70%;
  // background-color: gray;
  height: 100vh;
  margin: 0 auto;
}
.post-item {
  height: 300px;
  width: 300px;
  margin: 30px 0 50px 0;
  display: inline-block;
}
.post-nav {
  background-color: gray;
  text-align: left;
}
.user_icon-mini {
  height: 25px;
  width: 25px;
}

