.post__show {
  width: 70%;
  background-color: gray;
  margin: 0 auto;
  display: flex;
  margin-top: 50px;
  &__left {
    width: 70%;
    height: 100vh;
    background-color: white;
    &--image {
      text-align: center;
    }
    &--text {
      text-align: center;
      margin-top: 50px;
    }
    &--bottom {
      display: flex;
      &--right {
        display: flex;
        float: right;
        margin-left: 300px;
      }
      &--left {
        margin-left: 50px;
      }
    }
  }
  &__right {
    width: 30%;
    text-align: center;
  }

}
