.post__show {
  width: 70%;
  // background-color: gray;
  margin: 0 auto;
  display: flex;
  margin-top: 50px;
  &__left {
    width: 70%;
    height: 100vh;
    // background-color: white;
    &--image {
      text-align: center;
    }
    &--text {
      text-align: center;
      margin-top: 50px;
    }
    &--bottom {
      display: flex;
      &--right {
        display: flex;
        float: right;
        margin-left: 300px;
      }
      &--left {
        margin-left: 50px;
      }
    }
  }
  &__right {
    width: 30%;
    text-align: center;
    &--user {
      font-weight: bold;
      text-decoration: none;
    }
    &__like {
      margin: 20px auto 5px auto;
      width: 40%;
      height: 50px;

    }
    &__category {
      margin: 20px auto;
    }
    &__text {
      margin-top: 10px;
    }
  }

}
.like-btn {
  padding-top: 14px;
  text-decoration: none;
  padding: 20px 30px;
  border: solid .1rem;
  border-radius: 2rem;
  color:#ff3333;
  font-weight: bold;
  &:hover {
    opacity: 0.5;
  }
}
.show-edit-btn {
  text-decoration: none;
  color: rgba(68,51,17,.6);
}
.user-nav {
  text-decoration: none;
  color: #FF3333;
}
.like {
  color: white;
  border: #ff3333 solid .1rem;
  background-color: #ff3333;
}
