<div class="contents row">
  <div class="main-contents">
    <% @posts.each do |post| %>
      <div class="post-item">
        <div class="post-image">
          <%= link_to image_tag(post.image.to_s), post %>
        </div>
        <div class="post-nav">
          <%= image_tag "member_photo_noimage_thumb.png",class: "user_icon-mini"%>
          <%= link_to post.user.nickname, post.user %>
        </div>
      </div>
    <% end %>
  </div>
</div>