<div class="contents row">
  <h3 class="contents-title">
    写真を投稿する
  </h3>
  <div class="container">
    <div class="container__left">
      <div calss="pic-box">
        <div class="posts-title">写真を投稿する</div>
        <div class="required">※必須です</div>
        <div class="show-text">
          画像形式:JPEG/PNG
          <br>
          容量:5MB以内
        </div>
      </div>
      <div class='category-box'>
        <div class='posts-title'>カテゴリーを選択する</div >
        <div class= 'required'>※必須です</div>
        <div class='show-text'>1つだけ選択して下さい</div>
      </div>
      <div class='comment-box'>
        <div class='posts-title'>コメントを入力して下さい</div>
        <div class='required'>※必須です</div>
        <div class='show-text'>文字制限:200文字</div>
        <div>aaaf</div>
      </div>
    </div>
    <div class="container__right">
      <%= form_with(model: @post,local: true) do |form| %>
        <%= form.file_field :image,class: 'image-box' %>
        <%= form.text_area :text, placeholder: "text" , rows: "10" %>
        <%= form.submit "投稿する" %>
      <% end %>
    </div>
  </div>
</div>
